<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# SQL Programming - Subqueries using Select Statements

## 1.0 Connecting to our Database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

## 1.1 Loading Data from CSV Files

Datasets used in this notebook:


1.   **World Countries**

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1XlabneVWhvbmpRUi_Wix2FR5uYAAp-ZY/view?usp=sharing))

2.   **World Cities** 

> ([Dataset Download Link](https://drive.google.com/a/moringaschool.com/file/d/1R5952m-8hH91uiwDK8dcL9sT2D_PEcuw/view?usp=sharing))

In [ ]:
# Importing Pandas
import pandas as pd
import csv

In [ ]:
# Loading our Countries dataset
# 
with open('world_countries.csv' , 'r') as f:
  countries=pd.read_csv(f, index_col=0, encoding='utf-8') 

%sql DROP TABLE countries
%sql PERSIST countries;

 * sqlite://
(sqlite3.OperationalError) no such table: countries
[SQL: DROP TABLE countries]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
 * sqlite://

'Persisted countries'

In [ ]:
# Loading our cities dataset 
# 

with open ('world_cities.csv' , 'r') as f:
  cities=pd.read_csv(f, index_col=0, encoding='utf8')

%sql DROP TABLE cities;
%sql PERSIST cities;

 * sqlite://
(sqlite3.OperationalError) no such table: cities
[SQL: DROP TABLE cities;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
 * sqlite://

'Persisted cities'

## 1.2 Subqueries using the SELECT statement

A subquery is a query within another query. The outer query is called as main query and inner query is called as subquery. The subquery must be enclosed with parenthesis and generally executes first, and its output is used to complete the query condition for the main or outer query. We will go through examples of how subqueries can be used to answers different types of questions then later, we will use our learnings to work on the challenges.

In [ ]:
# Example 1
# Subqueries can occur in the select list of the containing query
# as shown below;
# Let's find all countries in the Countries table with no city in the Cities table
# 
 
%%sql
SELECT country FROM countries
WHERE NOT EXISTS (SELECT city FROM cities WHERE countries.country=cities.country )

 * sqlite://
Done.

[('Cyprus',), ('Iceland',), ('Kosovo',), ('Liechtenstein',), ('Luxembourg',)]

In [ ]:
# Example 2
# Find the European countries with cities experiencing temperature > 20?
# 
%%sql
SELECT country
FROM countries
WHERE EU = 'yes'
AND EXISTS (SELECT * FROM cities
            WHERE cities.country = countries.country
            AND temperature > 15)

 * sqlite://
Done.

[('Greece',), ('Italy',), ('Portugal',), ('Spain',)]

In [ ]:
# Example 3: Method 1
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM cities C1
WHERE NOT EXISTS (SELECT * FROM cities C2
                  WHERE C2.longitude < C1.longitude)

 * sqlite://
Done.

[('Lisbon', -9.14)]

In [ ]:
# Example 3: Method 2
# Find the westernmost city, returning the city and longitude
# 
%%sql
SELECT city, longitude
FROM cities
WHERE longitude = (SELECT min(longitude) FROM cities)

 * sqlite://
Done.

[('Lisbon', -9.14)]

In [ ]:
# Example 4:
# How many cities are in the EU?
# 
%%sql
SELECT count()
FROM cities
WHERE country IN (SELECT country FROM countries WHERE EU = 'yes')

 * sqlite://
Done.

[(150,)]

### <font color="green">1.2 Challenges</font>

In [ ]:
# Challenge 1
# Find number of countries that have a city with latitude > 1000 (start with country list)
# 
%%sql
SELECT count() FROM countries 
WHERE EXISTS (SELECT city FROM cities WHERE latitude>1000 AND cities.country=countries.country)

 * sqlite://
Done.

[(0,)]

In [ ]:
# Challenge 2
# Find three western most cities returning both the cities and their longitude
#
%%sql
SELECT city , Longitude FROM cities ORDER BY Longitude ASC LIMIT 3

 * sqlite://
Done.

[('Lisbon', -9.14), ('Galway', -9.05), ('Vigo', -8.73)]

In [ ]:
# Challenge 3
# Find cities with temperature is more than 50% higher than the average; 
# We will return the city, country, and temperature, ordered by descending temperature
# Hint: avg(temperature) * 1.5
# 
%%sql
SELECT city , country, temperature FROM  cities WHERE temperature > 0.5

 * sqlite://
Done.

[('Aalborg', 'Denmark', 7.52),
 ('Aberdeen', 'United Kingdom', 8.1),
 ('Adana', 'Turkey', 18.67),
 ('Albacete', 'Spain', 12.62),
 ('Algeciras', 'Spain', 17.38),
 ('Amiens', 'France', 10.17),
 ('Amsterdam', 'Netherlands', 8.93),
 ('Ancona', 'Italy', 13.52),
 ('Andorra', 'Andorra', 9.6),
 ('Angers', 'France', 10.98),
 ('Ankara', 'Turkey', 9.86),
 ('Antalya', 'Turkey', 11.88),
 ('Arad', 'Romania', 9.32),
 ('Athens', 'Greece', 17.41),
 ('Augsburg', 'Germany', 4.54),
 ('Bacau', 'Romania', 7.51),
 ('Badajoz', 'Spain', 15.61),
 ('Baia Mare', 'Romania', 8.87),
 ('Balti', 'Moldova', 8.23),
 ('Barcelona', 'Spain', 15.78),
 ('Bari', 'Italy', 15.15),
 ('Basel', 'Switzerland', 6.68),
 ('Batman', 'Turkey', 14.16),
 ('Belfast', 'United Kingdom', 8.48),
 ('Belgrade', 'Serbia', 9.85),
 ('Bergamo', 'Italy', 9.12),
 ('Bergen', 'Norway', 1.75),
 ('Berlin', 'Germany', 8.72),
 ('Bialystok', 'Poland', 6.07),
 ('Bielefeld', 'Germany', 8.78),
 ('Bila Tserkva', 'Ukraine', 6.98),
 ('Bilbao', 'Spain', 11.41),
 ('Birmingham', 'United Kingdom', 8.81),
 ('Blackpool', 'United Kingdom', 9.15),
 ('Bodo', 'Norway', 4.5),
 ('Bologna', 'Italy', 11.69),
 ('Bonn', 'Germany', 8.63),
 ('Bordeaux', 'France', 11.87),
 ('Botosani', 'Romania', 8.23),
 ('Bournemouth', 'United Kingdom', 9.97),
 ('Bradford', 'United Kingdom', 8.39),
 ('Braga', 'Portugal', 13.42),
 ('Braila', 'Romania', 9.78),
 ('Bratislava', 'Slovakia', 9.65),
 ('Bremen', 'Germany', 8.14),
 ('Brest', 'France', 11.02),
 ('Brest', 'Belarus', 6.73),
 ('Brno', 'Czech Republic', 7.86),
 ('Brugge', 'Belgium', 9.65),
 ('Bucharest', 'Romania', 10.59),
 ('Budapest', 'Hungary', 9.55),
 ('Burgas', 'Bulgaria', 11.93),
 ('Burgos', 'Spain', 10.45),
 ('Bursa', 'Turkey', 11.16),
 ('Bydgoszcz', 'Poland', 7.14),
 ('Bytom', 'Poland', 7.66),
 ('Caen', 'France', 9.96),
 ('Cambridge', 'United Kingdom', 9.25),
 ('Cartagena', 'Spain', 17.32),
 ('Catania', 'Italy', 15.04),
 ('Chemnitz', 'Germany', 8.05),
 ('Cherkasy', 'Ukraine', 7.19),
 ('Chernihiv', 'Ukraine', 5.92),
 ('Chernivtsi', 'Ukraine', 7.06),
 ('Chisinau', 'Moldova', 8.6),
 ('Constanta', 'Romania', 11.24),
 ('Cork', 'Ireland', 9.41),
 ('Cosenza', 'Italy', 16.6),
 ('Craiova', 'Romania', 10.51),
 ('Daugavpils', 'Latvia', 5.38),
 ('Debrecen', 'Hungary', 8.87),
 ('Denizli', 'Turkey', 15.02),
 ('Dijon', 'France', 8.69),
 ('Dublin', 'Ireland', 8.49),
 ('Dundee', 'United Kingdom', 6.4),
 ('Edinburgh', 'United Kingdom', 7.43),
 ('Edirne', 'Turkey', 10.9),
 ('Elbasan', 'Albania', 15.18),
 ('Elblag', 'Poland', 6.68),
 ('Erfurt', 'Germany', 7.4),
 ('Erzincan', 'Turkey', 8.67),
 ('Erzurum', 'Turkey', 5.17),
 ('Eskisehir', 'Turkey', 11.11),
 ('Exeter', 'United Kingdom', 10.14),
 ('Foggia', 'Italy', 13.83),
 ('Frankfurt', 'Germany', 7.98),
 ('Freiburg', 'Germany', 6.68),
 ('Galway', 'Ireland', 10.0),
 ('Gaziantep', 'Turkey', 13.46),
 ('Geneva', 'Switzerland', 8.4),
 ('Genoa', 'Italy', 12.94),
 ('Glasgow', 'United Kingdom', 8.6),
 ('Göteborg', 'Sweden', 5.76),
 ('Granada', 'Spain', 16.33),
 ('Graz', 'Austria', 6.91),
 ('Grenoble', 'France', 8.4),
 ('Groningen', 'Netherlands', 8.71),
 ('Gyor', 'Hungary', 9.65),
 ('Heidelberg', 'Germany', 8.47),
 ('Helsinki', 'Finland', 4.19),
 ('Horlivka', 'Ukraine', 7.12),
 ('Hrodna', 'Belarus', 6.07),
 ('Huelva', 'Spain', 17.09),
 ('Ingolstadt', 'Germany', 7.57),
 ('Innsbruck', 'Austria', 4.54),
 ('Inverness', 'United Kingdom', 8.0),
 ('Istanbul', 'Turkey', 13.2),
 ('Kalamata', 'Greece', 17.3),
 ('Karaman', 'Turkey', 10.41),
 ('Karlsruhe', 'Germany', 8.88),
 ('Kaunas', 'Lithuania', 6.05),
 ('Kayseri', 'Turkey', 8.89),
 ('Kherson', 'Ukraine', 8.64),
 ('Kielce', 'Poland', 7.29),
 ('Kiev', 'Ukraine', 6.88),
 ('Klaipeda', 'Lithuania', 7.0),
 ('Kosice', 'Slovakia', 7.31),
 ('Koszalin', 'Poland', 7.73),
 ('Kremenchuk', 'Ukraine', 7.43),
 ('Kryvyy Rih', 'Ukraine', 8.61),
 ('Le Mans', 'France', 10.59),
 ('Lille', 'France', 9.65),
 ('Limoges', 'France', 10.32),
 ('Linz', 'Austria', 6.79),
 ('Lisbon', 'Portugal', 15.52),
 ('Ljubljana', 'Slovenia', 9.27),
 ('Lvov', 'Ukraine', 7.04),
 ('Maastricht', 'Netherlands', 8.63),
 ('Madrid', 'Spain', 11.19),
 ('Magdeburg', 'Germany', 8.26),
 ('Makiyivka', 'Ukraine', 8.7),
 ('Malatya', 'Turkey', 14.13),
 ('Malmö', 'Sweden', 7.33),
 ('Manisa', 'Turkey', 15.1),
 ('Marbella', 'Spain', 17.19),
 ('Marseille', 'France', 14.98),
 ('Mazyr', 'Belarus', 6.25),
 ('Messina', 'Italy', 16.54),
 ('Metz', 'France', 8.88),
 ('Milan', 'Italy', 6.65),
 ('Minsk', 'Belarus', 5.28),
 ('Montpellier', 'France', 11.11),
 ('Mulhouse', 'France', 6.68),
 ('Murcia', 'Spain', 15.0),
 ('Nice', 'France', 8.82),
 ('Nis', 'Serbia', 9.36),
 ('Novi Sad', 'Serbia', 10.34),
 ('Odense', 'Denmark', 7.73),
 ('Ordu', 'Turkey', 11.92),
 ('Orsha', 'Belarus', 4.93),
 ('Oslo', 'Norway', 2.32),
 ('Ostrava', 'Czech Republic', 7.66),
 ('Oulu', 'Finland', 1.45),
 ('Oviedo', 'Spain', 10.85),
 ('Palermo', 'Italy', 17.9),
 ('Patras', 'Greece', 16.9),
 ('Perpignan', 'France', 10.95),
 ('Perugia', 'Italy', 11.7),
 ('Pescara', 'Italy', 15.13),
 ('Pinsk', 'Belarus', 6.42),
 ('Pleven', 'Bulgaria', 10.51),
 ('Plovdiv', 'Bulgaria', 8.27),
 ('Podgorica', 'Montenegro', 9.99),
 ('Poznan', 'Poland', 8.31),
 ('Prague', 'Czech Republic', 8.05),
 ('Reims', 'France', 9.4),
 ('Riga', 'Latvia', 5.16),
 ('Rijeka', 'Croatia', 9.27),
 ('Rivne', 'Ukraine', 6.76),
 ('Rome', 'Italy', 15.1),
 ('Rostock', 'Germany', 8.07),
 ('Ruse', 'Bulgaria', 10.59),
 ('Salamanca', 'Spain', 11.63),
 ('Salzburg', 'Austria', 4.62),
 ('Samsun', 'Turkey', 12.05),
 ('Santander', 'Spain', 13.4),
 ('Sarajevo', 'Bosnia and Herzegovina', 9.6),
 ('Sibiu', 'Romania', 6.97),
 ('Siirt', 'Turkey', 12.48),
 ('Sivas', 'Turkey', 8.05),
 ('Skopje', 'Macedonia', 9.36),
 ('Split', 'Croatia', 12.46),
 ('Stara Zagora', 'Bulgaria', 10.9),
 ('Stavanger', 'Norway', 5.53),
 ('Stockholm', 'Sweden', 6.26),
 ('Sumy', 'Ukraine', 6.28),
 ('Swansea', 'United Kingdom', 9.73),
 ('Szeged', 'Hungary', 10.34),
 ('Tallinn', 'Estonia', 4.82),
 ('Tampere', 'Finland', 3.59),
 ('Tarsus', 'Turkey', 11.21),
 ('Tartu', 'Estonia', 4.36),
 ('Tekirdag', 'Turkey', 13.02),
 ('Toulouse', 'France', 10.25),
 ('Trabzon', 'Turkey', 10.28),
 ('Trieste', 'Italy', 11.21),
 ('Trikala', 'Greece', 16.0),
 ('Trondheim', 'Norway', 4.53),
 ('Turku', 'Finland', 4.72),
 ('Uppsala', 'Sweden', 4.17),
 ('Valencia', 'Spain', 16.02),
 ('Vienna', 'Austria', 7.86),
 ('Vigo', 'Spain', 12.85),
 ('Vilnius', 'Lithuania', 5.38),
 ('Warsaw', 'Poland', 7.2),
 ('Wroclaw', 'Poland', 7.17),
 ('Yevpatoriya', 'Ukraine', 10.02),
 ('Zaragoza', 'Spain', 14.17),
 ('Zhytomyr', 'Ukraine', 6.67),
 ('Zonguldak', 'Turkey', 10.64),
 ('Zurich', 'Switzerland', 6.68)]

In [ ]:
# Challenge 4
# How many cities are not in the EU and without a coastline?
# Hint: "not in"
# 
%%sql
SELECT count()
FROM cities
WHERE country NOT IN (SELECT country FROM countries WHERE EU = 'yes'AND coastline='yes')

 * sqlite://
Done.

[(197,)]

In [ ]:

%%sql
SELECT count()
FROM cities
WHERE country IN (SELECT country FROM countries WHERE EU = 'yes')

 * sqlite://
Done.

[(150,)]

In [ ]:
# Challenge 6
# Find countries in Countries table with no city in Cities table
# 

%%sql
SELECT country
FROM Countries
WHERE NOT EXISTS (SELECT * FROM Cities WHERE city='yes' )

 * sqlite://
Done.

[('Albania',),
 ('Andorra',),
 ('Austria',),
 ('Belarus',),
 ('Belgium',),
 ('Bosnia and Herzegovina',),
 ('Bulgaria',),
 ('Croatia',),
 ('Cyprus',),
 ('Czech Republic',),
 ('Denmark',),
 ('Estonia',),
 ('Finland',),
 ('France',),
 ('Germany',),
 ('Greece',),
 ('Hungary',),
 ('Iceland',),
 ('Ireland',),
 ('Italy',),
 ('Kosovo',),
 ('Latvia',),
 ('Liechtenstein',),
 ('Lithuania',),
 ('Luxembourg',),
 ('Macedonia',),
 ('Moldova',),
 ('Montenegro',),
 ('Netherlands',),
 ('Norway',),
 ('Poland',),
 ('Portugal',),
 ('Romania',),
 ('Serbia',),
 ('Slovakia',),
 ('Slovenia',),
 ('Spain',),
 ('Sweden',),
 ('Switzerland',),
 ('Turkey',),
 ('Ukraine',),
 ('United Kingdom',)]

In [ ]:
# Challenge 7
# Find all cities in a country whose population is < 2, returning the city and country.
# 
%%sql
SELECT city , country
FROM cities
WHERE country IN (SELECT country FROM countries WHERE population <2)

 * sqlite://
Done.

[('Andorra', 'Andorra'),
 ('Daugavpils', 'Latvia'),
 ('Podgorica', 'Montenegro'),
 ('Riga', 'Latvia'),
 ('Tallinn', 'Estonia'),
 ('Tartu', 'Estonia')]

In [ ]:
# Challenge 8
# Find all countries with no city having a temperature > 6
# 
%%sql
SELECT country 
FROM cities
WHERE city NOT IN (SELECT city FROM cities WHERE temperature> 6)

 * sqlite://
Done.

[('Sweden',),
 ('Germany',),
 ('Norway',),
 ('Norway',),
 ('Ukraine',),
 ('Latvia',),
 ('Turkey',),
 ('Sweden',),
 ('Finland',),
 ('Austria',),
 ('Sweden',),
 ('Belarus',),
 ('Belarus',),
 ('Norway',),
 ('Finland',),
 ('Latvia',),
 ('Austria',),
 ('Norway',),
 ('Estonia',),
 ('Finland',),
 ('Estonia',),
 ('Norway',),
 ('Finland',),
 ('Sweden',),
 ('Lithuania',)]